body {
    font-family: 'Open Sans', sans-serif;
    background: #dfdfdf;
    color: #333333;
}
h1 {
    font-weight: bold;
    font-size: 48px;
}
h2 {
    text-align: center;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}
h3 {
    font-size: 20px;
}
header, footer {
    background: #333333;
    color: #5bc0de;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}
footer a {
    color: #5bc0de;
}
footer a:hover {
    color: #cccccc;
    text-decoration: none;
}
.container {
    max-width: 960px;
}
.lead {
    font-style: italic;
}
.list-group-item {
    background-color: #bbbbbb;
    border: 1px solid #000000;
    -webkit-transition: all 1s;
    transition: background-color 1s;
}
.list-group-item:hover {
    background-color: #cccccc;
}
.knowledge .skill {
    font-weight: 300;
    padding: 15px;
    margin: 3px;
    color: #5bc0de;
    background-color: #333333;
    -webkit-transition: all 1s;
    transition: background-color 1s;
}
.skill:hover {
    background-color: #111111;
}
.list-inline {
    text-align: center;
}
